<template>
    <!--Main grid -->
    <div class="slds-grid slds-wrap slds-p-around_small slds-theme_default slds-box">

        <template if:true={isVisible}>
            <div class="slds-col slds-size_1-of-1">
                <c-alertwc></c-alertwc>
            </div>

            <div class="slds-col slds-size_1-of-1">
                <c-chat-users-presence-wc room-id={roomId} popover-max-height={chatPaneSize}></c-chat-users-presence-wc>
            </div>

            <div class="slds-col slds-size_1-of-1">
                <!-- todo: add list messgaes -->
                <!-- <c:Chat_ListMessages roomId="{!v.roomId}" currentUser="{!v.currentUser}" chatPaneSize="{!v.chatPaneSize}" /> -->
            </div>

            <div class="slds-col slds-size_1-of-1">
                <!-- todo: add send message -->
                <!-- <c:Chat_SendMessage roomId="{!v.roomId}" /> -->
            </div>
        </template>

    </div>
</template>