<template>
    
    <template if:true={alertMessage}>

        <!-- error -->
        <template if:true={isError}>
            <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
                <span class="slds-assistive-text">error</span>
                <span class="slds-icon_container slds-icon-utility-error slds-m-right_x-small"
                      title="Description of icon when needed">
                    <lightning-icon icon-name="utility:error" size="x-small" variant="bare"></lightning-icon>
                  </span>
                <h2>{alertMessage.msg}</h2>
                <div class="slds-notify__close">
                    <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close" onclick={closeAlert}>
                        <lightning-icon icon-name="utility:close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </div>
            </div>
        </template>

        <!-- warning -->
        <template if:true={isWarning}>
            <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert">
                <span class="slds-assistive-text">warning</span>
                <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small"
                      title="Description of icon when needed">
                    <lightning-icon icon-name="utility:warning" size="x-small" variant="bare"></lightning-icon>
                </span>
                <h2>{alertMessage.msg}</h2>
                <div class="slds-notify__close">
                    <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close" onclick={closeAlert}>
                        <lightning-icon icon-name="utility:close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </div>
            </div>
        </template>

        <!-- info -->
        <template if:true={isInfo}>
            <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_info" role="alert">
                <span class="slds-assistive-text">info</span>
                <span class="slds-icon_container slds-icon-utility-user slds-m-right_x-small"
                      title="Description of icon when needed">
                        <lightning-icon icon-name="utility:info" size="x-small" variant="bare"></lightning-icon>
                </span>
                <h2>{alertMessage.msg}</h2>
                <div class="slds-notify__close">
                    <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close" onclick={closeAlert}>
                        <lightning-icon icon-name="utility:close" variant="inverse" size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </div>
            </div>
        </template>

    </template>

</template>