<template>
    <template if:true={visible}>
        <li role="presentation" class="slds-listbox__item">
            <div id="listbox-option-id-1"
                 class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta"
                 role="option">
    
              <span class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-user">
                  <lightning-icon icon-name="utility:user"></lightning-icon>
                </span>
              </span>
    
              <span class="slds-media__body">
                <span class="slds-listbox__option-text slds-listbox__option-text_entity">
                    {userName}
                </span>
              </span>
    
            </div>
        </li>
    </template>
</template>